
html {
    box-sizing: border-box
  }
  *, *::before, *::after {
    box-sizing: inherit
  }

body {
    background-color: #e6e56c;
    width: 80%;
    float: none;
    position: absolute;
    height: 70%;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
}

h1 {
    font-size: 40px;
    font-family: 'Lakki Reddy';
    color: #94aa2a;
    text-shadow: 3px 2px #3a3d2b;
}

h2 {
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}

h3 {
    font-family: 'Roboto Slab', serif;
    color: #9dab86;
    font-size: 20px;
}

p {
    font-family: 'Roboto Slab', serif;
    color: #23251e;
    font-size: 20px;
}

#top {
    background-image: url("images/IMG_7599.JPG");
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 225px;
    display: block;
}

#namelink {
    text-decoration: none;
    color: #94aa2a;
    width: 50%;
    position: relative;
    margin: 0 auto;
    left: 30px;
    top: 50px;
}

#navigation {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #55442a;
    height: 40px;
    width: 100%;
    padding-right: 30px;
}

/*  

    top: 10px;
    margin: 20px;
    height: 20px;


#myname {
    height: 20px;
    position: absolute;
    display: block;
    float: left;
    left: 50px;
    top: 10px;
    width: 90%;
}
*/
#headnav {
    list-style-type: none;
    display: inline-block;
    text-align: right;
    width: 80%;
    margin: 0 auto;
    padding-left:10px;
}  

li {
    font-size: 30px;
    font-family: 'Marck Script', cursive;
    text-align: right;
    display: inline-block;
    height: 10px;
    position: relative;
    margin: 5px;
    left: 25%;
    }

ul a:link {
    color: #fec771;
    text-decoration: none;
}

    ul a:visited{
        color: #fec771;
    }

        ul a:hover {
            color: #fec771;
            font-style: italic;
        }

            ul a:active {
                color:#ebd5b3;
                font-style: italic;
            }
            



#middle {
    background-color: #e5d8bf;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: left;
    position: absolute;
    margin: 0 auto;
}
p {
     position: inline-block;
     display: block;
     margin: 0 auto;

 }
    



/*
#projects {
    position: fixed;
    width:50px;
    display:block;
    float: left;
    padding: 10px;
    top: 90px;
    left: 50px;
}

#cv {
    position: fixed;
    width: 50px;
    display:block;
    float: left;
    padding: 10px;
    left: 265px;
    top: 90px;
}

 #contact {
    position: fixed;
    width: 50px;
    display:block;
    float: left;
    padding: 10px;
    left: 450px;
    top: 90px;
}
*/
        /*
            #viewer {
                top: 80px;
                left: 50%;
                border: 3px;
                border-style: solid;
                border-color: white;
                height: 600px;
                width: 620px;
                box-shadow: 5px 5px 5px 3px rgb(252, 215, 238);
                position: relative;
                float: right;
                background-color: lightyellow;
            }
            */


/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(99, 2, 255);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(199, 163, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(99, 2, 255);
  }
