
html {
    box-sizing: border-box
  }
  *, *::before, *::after {
    box-sizing: inherit
  }

body {
    background-image: url(images/IMG_1138.JPG);
    background-position-y: 20%;
    background-position-x: 30%;
    background-repeat: no-repeat;
    width: 80%;
    float: none;
    position: absolute;
    height: 70%;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
}

h1 {
    font-size: 40px;
    font-family: 'Lakki Reddy';
    color: rgb(188, 207, 116);
    text-shadow: 2px 1px #fc6492;
}

h2 {
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}

h3 {
    font-family: 'Roboto Slab', serif;
    color: #23251e;
    font-size: 25px;
    margin: 15px;
    display: block;
    position: inline-block;
}

p {
    font-family: 'Roboto Slab', serif;
    color: #23251e;
    font-size: 22px;
    position: inline-block;
    display: block;
    margin: 20px;
}

#top {
    background-color: lightyellow;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 170px;
    display: block;
}

#namelink {
    text-decoration: none;
    color: rgb(252, 160, 217);
    width: 50%;
    position: relative;
    margin: 0 auto;
    left: 40px;
    top: 45px;


}

#top a:hover{
    color: rgb(255, 239, 239);
}

#top a:active {
    color:rgb(255, 228, 228);
}

#navigation {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #4400ff;
    height: 50px;
    width: 100%;
    padding-right: 30px;
}

#headnav {
    list-style-type: none;
    display: inline-block;
    text-align: right;
    width: 80%;
    margin: 0 auto;
    padding-left: 10px;
    padding-bottom: 10px;
}  

li {
    font-size: 30px;
    font-family: 'Marck Script', cursive;
    text-align: right;
    display: inline-block;
    position: relative;
    margin: 5px;
    left: 20%;
    }

#top ul a:link {
    color: #ffe6c2;
    text-decoration: none;
}

    #top ul a:visited{
        color: #ffe6c2;
    }

        #top ul a:hover {
            color: #faca86;
            font-style: italic;
        }

            #top ul a:active {
                color:#faca86;
                font-style: italic;
            }
            



#middle {
    background-color: lightyellow;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
}

#middle a:link {
    color: #7c5eff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    position: relative;
    align-content: center;
    padding: 10px;
}

#middle a:hover {
    color:#92d2fd;
}

#middle a:active{
    color:#92d2fd;
}
    



/*
#projects {
    position: fixed;
    width:50px;
    display:block;
    float: left;
    padding: 10px;
    top: 90px;
    left: 50px;
}

#cv {
    position: fixed;
    width: 50px;
    display:block;
    float: left;
    padding: 10px;
    left: 265px;
    top: 90px;
}

 #contact {
    position: fixed;
    width: 50px;
    display:block;
    float: left;
    padding: 10px;
    left: 450px;
    top: 90px;
}
*/
        /*
            #viewer {
                top: 80px;
                left: 50%;
                border: 3px;
                border-style: solid;
                border-color: white;
                height: 600px;
                width: 620px;
                box-shadow: 5px 5px 5px 3px rgb(252, 215, 238);
                position: relative;
                float: right;
                background-color: lightyellow;
            }
            */


/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(99, 2, 255);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(199, 163, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(99, 2, 255);
  }
