@font-face {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Lakki Reddy', cursive;
    font-family: 'Marck Script', cursive;
    src: "https://fonts.googleapis.com/css?family=Abril+Fatface|Inconsolata|Lakki+Reddy|Marck+Script&display=swap";
}

body {
    background-color: rgb(255, 221, 221);
}
    h1 {
        font-size: 60px;
        font-family: 'Lakki Reddy', cursive;
        color: rgb(223, 241, 175);
        text-shadow: 3px 2px #0346ff;
    }

        h2 {
            font-size: 60px;
            font-family: 'Marck Script', cursive;
            
        }

a:link {
    color: rgb(85, 116, 255);
    text-decoration: none;
}

    a:visited{
        color: rgb(99, 2, 255);
    }

        a:hover {
            color: rgb(8, 66, 141);
            font-style: italic;
        }

            a:active {
                color:rgb(35, 81, 145);
                font-style: italic;
            }

#myname {
    top: 25%;
    height: 90px;
    float: left;
    position: relative;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    left: 5%;
}

    #projects {
        position: relative;
        width:50px;
        display:block;
        float: left;
        padding: 10px;
        top: 50%;
        left: 25%;
    }
        #cv {
            position: relative;
            width: 50px;
            display:block;
            float: left;
            padding: 10px;
            left:10%;
            top:50%;
        }
           #headimg{
               position: fixed;
               display: block;
               float: left;
               top: 25%;
               left: 25%;
           } 
        /*
            #viewer {
                top: 80px;
                left: 50%;
                border: 3px;
                border-style: solid;
                border-color: white;
                height: 600px;
                width: 620px;
                box-shadow: 5px 5px 5px 3px rgb(252, 215, 238);
                position: relative;
                float: right;
                background-color: lightyellow;
            }
            */



/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(99, 2, 255);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(199, 163, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(99, 2, 255);
  }
